{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="container-fluid jumbotron">
                <div>
                    <h1 class="text-xs-center text-sm-center text-md-center text-lg-center">{% block header_text %}{% endblock %}</h1>
                    <div id="add-item-form">
                        <form method="POST" action="{% block form_action %}{% endblock %}">
                            {{ form.text }}
                            {% csrf_token %}
                            {% if form.errors %}
                                <script>document.getElementById("add-item-form").classList.add("has-danger");</script>
                                <div id="error-label" class="form-group has-danger">
                                    <span class="form-control-label" for="add-item-form">{{ form.text.errors }}</span>
                                </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="container-fluid">
                {% block table %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock content %}
