{% extends 'mypages/base.html' %}

{% block header_text %}Your crafting queue{% endblock %}

{% block form_action %}{% url 'queue:view' queue.id %}{% endblock %}

{% block table %}
    <table id="id_queue_table" class="table">
    {% for item in queue.item_set.all %}
    <tr><td>
        {{ forloop.counter }}: {{ item.text}}
    </td></tr>
    {% endfor %}
    </table>
{% endblock %}


