{% extends 'base.html' %}
{% load i18n %}
{% block page_header %}
    {% if not form.instance.pk %}
        {% blocktrans with item_title=character_item.title %}
            Make progress for {{ item_title }}
        {% endblocktrans %}
    {% endif %}
{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-xs-12 col-lg-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% load crispy_forms_tags %}
                    {% crispy form %}
                </div>
            </div>
        </div>

    </div>

{% endblock %}

