<head>
    <meta charset="utf-8">
    <title>Javascript tests</title>
    <link rel="stylesheet" href="qunit.css">
</head>
<script>
    function get_queue_js() {
        $.getScript("../js/queue.js")
    }
</script>
<body>
    <div id="qunit"></div>
    <div id="qunit-fixture">
        <form>
            <input name="text" id="id_text"/>
            <div class="has-error">Error text</div>
        </form>
    </div>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="qunit.js"></script>
    <script src="../js/queue.js"></script>
    <script>
        test("errors should be hidden on keypress", function () {
            initializer();
            $('#id_text').trigger('keypress');
            equal($('.has-error').is(':visible'), false);
        });

        test("errors not be hidden unless there is a keypress", function () {
            equal($('.has-error').is(':visible'), true);
        });

        test("errors should be hidden on click", function () {
            initializer();
            $('#id_text').trigger('click');
            equal($('.has-error').is(':visible'), false);
        });
    </script>

</body>
</html>
